*{
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
}


/* header section style start */
.header{
    background-image: url('images/banner/banner2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.header-info{
    max-width: 1140px;
    text-align: right;
    margin: 0 auto;
    padding-top: 170px;
}
.header-title{
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 20px;
}
.header-subtitle{
    color: #FFFFFF;
    margin-bottom: 20px;
    line-height: 25px;
}
.primary-btn button{
    padding: 14px 30px;
    border: 0;
    border-radius: 5px;
    background: #F15B22;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700; 
}
/* header section style end */



/* mainbody section style start */
.mainbody{
    width: 100%;
    background: #FFFFFF;
}
/* mainbody section style end */



/*  my failures section style start */
.my-failures{
    display: flex;
    gap: 50px;
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 280px;
    margin-bottom: 100px;
    align-items: center;
}
.circle{
    width: 523px;
    height: 510px;
    border-radius: 243px;
    margin-left: 26px;
    background: #fcded3;

}
.bg-img{
    margin-top: -715px;
}
.failures-title{
    color: #151414;
    font-size: 40px;
    font-weight: 700px;
    margin-bottom: 20px;
}
.failures-subtitle{
    color: #444343;
    line-height: 25px;
    margin-bottom: 20px;
}
.failures-list ul li{
    list-style: none;
    color: #444343;
    font-size: 18px;
    margin-bottom: 8px;
}
.failures-list ul li i{
    color: #00ffff;
    margin-right: 12px;
}
/*  my failures section style end */



/* my plan section style start  */
.my-plan{
    max-width: 1140px;
    margin: 0 auto;
}
.plan-title{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 50px;
    text-align: center;
    color: #151414;
}
.skills{
    display: flex;
    gap: 20px;
    justify-content: space-around;
    margin-bottom: 100px;
    text-align: center;
}
.skill-images{
    margin-bottom: 13px;
}
.skill-name{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #151414;
}
.skill-title{
    color: #737272;
    font-size: 20px;
}
/* my plan section style end  */



/* contact section style start */
.contact{
    max-width: 1140px;
    margin: 0 auto;
    background-image: url('images/watch.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 250px;
    margin-bottom: 100px;
    border-radius: 8px;
    position: relative; 
}
.contact-info{
    background-image: url('images/gradient2.png');
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 80%);
    border-radius: 8px;
    position: absolute;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;  
}
.contact-title{
    padding: 45px 0 15px 65px;
    font-size: 40px;
    font-weight: 700;
    color: #FFFFFF;

}
.contact-btn{
    padding-left: 65px;
}
.contact-btn button{
    padding: 15px 40px;
    border: 0;
    border-radius: 5px;
    background: #FFFFFF;
    color: #F15B22;
}
/* contact section style end */



/* footer section style start*/
.footer{
    width: 100%;
    height: 270px;
    background-color: #151414;
    padding: 100px 0;
}
.footer-information{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 350px;
}
.footer-leftsite-title{
    font-size: 35px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.footer-subtitle{
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 30px;
    font-weight: 200;
    line-height: 30px;
}
.footer-personal-info p{
    color: #FFFFFF;
    margin-bottom: 13px;
    font-size: 18px;
    font-weight: 300;
}
.social-media{
    display: flex;
    gap: 25px;
    margin-top: 25px;
}

.footer-rightsite-title{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #FFFFFF;
}

.footer-form input[type="email"]{
    width: 100%;
    margin-bottom: 20px;
    height: 45px;
    background-color: #151414;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    padding: 0 15px;
}
.footer-form input[type="email"]::placeholder{
    color: #FFFFFF;
    font-weight: 300;
}
.footer-form input[type="submit"]{
    padding: 15px 40px;
    border: 0;
    border-radius: 5px;
    background: #FFFFFF;
    color: #F15B22;
    font-weight: 600;
    font-size: 18px;
}
/* footer section style end*/